<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Confitería</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>
	<header th:insert="fragments/header :: menu-principal">
      
    </header>
    
<div class="container mt-5">
    <h1 class="text-center mb-4">Gestión de Confiterias</h1>

	<!-- Formulario de Usuario -->
	<div class="card mb-4 shadow">
        <div class="card-body">
    <form th:action="${baseUrl + '/confiterias/guardar'}" th:object="${confiteria}" method="post">
        <input type="hidden" th:field="*{id}" />

        <div class="mb-3">
                    <label class="form-label">Nombre</label>
                    <input type="text" th:field="*{nombre}" class="form-control" placeholder="Ingrese el nombre" required>
                </div>
		<div class="mb-3">
        			<label class="form-label">Precio:</label>
        			<input type="number" th:field="*{precio}" class="form-control" placeholder="Ingrese el precio" required />
        		</div>
		<div class="mb-3">
        			<label class="form-label">Descripción:</label>
        			<input type="text" th:field="*{descripcion}" class="form-control" placeholder="Descripción" required />
        		</div>

        <button type="submit" class="btn btn-primary">Guardar 💾</button>
    </form>
  </div>
 </div>
 
 <!-- Formulario de Búsqueda -->
    <form class="row g-3 justify-content-center mb-4" th:action="@{/confiterias/buscar}" method="get">
        <div class="col-auto">
            <input type="number" class="form-control" name="id" placeholder="Ingrese ID confiterias">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-success">
                <i class="bi bi-search"></i> Buscar por ID
            </button>
        </div>
        <div class="col-auto">
            <a th:href="@{/confiterias/buscar}" class="btn btn-primary">
                <i class="bi bi-list-ul"></i> Mostrar Todos
            </a>
        </div>
        <div class="col-auto">
			<a th:href="@{/confiterias}" class="btn btn-secondary">
			<i class="bi bi-arrow-left-circle"></i> Cerrar
			</a>
		</div>
    </form>
          
    <!-- Tabla de Confiterias -->
     <div class="table-responsive" th:if="${listaConfiterias != null}">
        <table class="table table-bordered table-hover align-middle">
            <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="conf : ${listaConfiterias}">
                <td th:text="${conf.nombre}">1</td>
                <td th:text="${conf.precio}">2</td>
                <td th:text="${conf.descripcion}">Cancha salada</td>
                <td>
                   <a th:href="${baseUrl + '/confiterias/editar/' + conf.id}" class="btn btn-warning btn-sm">✏️ Editar</a>
                   <a th:href="${baseUrl + '/confiterias/eliminar/' + conf.id}" class="btn btn-danger btn-sm" onclick="return confirm('¿Eliminar este boleto?')">🗑️ Eliminar</a>
               </td>
            </tr>
        </tbody>
    </table>
    </div>
</div>

<footer th:insert="fragments/footer :: pie-pagina" class="footer">
      
</footer>

<!-- Bootstrap JS opcional -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>                                
</body>
</html>